In [1]:
from sqlalchemy import create_engine, Column, Integer, Float, String, DateTime, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
from datetime import datetime
from tqdm.std import tqdm
import pandas as pd
import logging
logger = logging.Logger('catch_all')

In [3]:
from extract import extract_coindata

data, cols = extract_coindata()

In [4]:
cols

['CoinName',
 'Symbol',
 'Time',
 'Market Cap',
 'Price',
 'Circulating Supply',
 'Volume(24h)',
 '1h',
 '24h',
 '7d',
 'Website']

In [5]:
def create_table(eng):
    query = ''' CREATE TABLE IF NOT EXISTS Crypto (ID serial PRIMARY KEY,
    CoinName VARCHAR (20) , Symbol VARCHAR (10), Time TIMESTAMP (40), Price VARCHAR (30),
    "1h" VARCHAR (10), "24h" VARCHAR (10), "7d" VARCHAR (10), "Volume(24h)" VARCHAR (30),
    "Circulating Supply" VARCHAR (40) , "Market Cap" VARCHAR (50),
    Website VARCHAR(200))'''
    
    conn = eng.connect()
    try:
        conn.execute(query)
        print('Table Created\nStatus: Successfull!!!')
    except Exception as e:
        logger.error(e, exc_info=True)
        print("Could not create table")
        
    finally:
        conn.close()

In [6]:
def drop_table(eng):
    query = ''' DROP TABLE IF EXISTS Crypto'''
    conn = eng.connect()
    try:
        conn.execute(query)
        print('Table dropped\nStatus: Successfull!!!')
    except Exception as e:
        logger.error(e, exc_info=True)
        print('Drop Table Failed')
        
    finally:
        conn.close()

In [7]:
def reset_database(eng):
    drop_table(eng)
    create_table(eng)

In [8]:
DATABASE_URI = "postgres+psycopg2://postgres:udkhulbisalaam@localhost:5432/Cryptocurrency"

In [1]:
from auths import hostname, password
CLOUD_DATABASE_URL = "postgres+psycopg2://postgres:"+password+"@"+hostname+":5432/Cryptocurrency"

In [9]:
engine = create_engine(DATABASE_URI)

In [14]:
cloud_engine = create_engine(CLOUD_DATABASE_URL)

In [15]:
def reset_database(eng):
    drop_table(eng)
    create_table(eng)

In [10]:
reset_database(engine)

Table dropped
Status: Successfull!!!
Table Created
Status: Successfull!!!

In [ ]:
s.close()

In [11]:
def load_data(data,columns, s):
    start = datetime.now()
    #s = Session()
    cols = columns
    
    try:
        for coin in tqdm(data, desc="Inserting data into Crypto table"):
            vals = list(coin)
            s.rollback()
            query = '''INSERT INTO public.Crypto ({}, {}, {}, 
            "{}", {}, "{}", "{}", "{}", "{}", "{}", {}) 
            VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}','{}', '{}', '{}')'''\
            .format(cols[0], cols[1], cols[2], cols[3], cols[4], cols[5], cols[6], cols[7], cols[8], 
                    cols[9], cols[10], vals[0], vals[1], vals[2], vals[3], vals[4], vals[5], vals[6], vals[7],
                    vals[8], vals[9], vals[10])

            s.execute(query)
            s.commit()
        stop = datetime.now()  
        
        print('Batch Load Executed!!!')
        print("Total time: {} seconds".format(stop-start))
        
    except Exception as e:
        logger.error(e, exc_info=True)
        print("Could not load data into database")
        
    finally:
        s.close()

In [10]:
def rename_cols(oldnames, newnames, eng):
    con = eng.connect()
    for oldname, newname in zip(oldnames,newnames):
        
        query = '''ALTER TABLE public."CryptoPrice" RENAME COLUMN "{}" To "{}"'''.format(oldname, newname)
        con.execute(query)
    print('Column {} has been renamed to {}\nStatus: Succesful!'.format(oldnames, newnames))
    
oldnames = ['_1h','_24h','_7d','_24h_Volume']
newnames = ['1h','24h','7d','24h Volume']
rename_cols(oldnames, newnames, engine)

Column ['_1h', '_24h', '_7d', '_24h_Volume'] has been renamed to ['1h', '24h', '7d', '24h Volume']
Status: Succesful!

In [12]:
# local server
Session = sessionmaker(bind=engine)
s = Session()

In [21]:
# cloud server
CloudSession = sessionmaker(bind=cloud_engine)
cloud = CloudSession()

In [20]:
con = engine.connect()

In [22]:
rs = con.execute('SELECT * FROM Public.Crypto')

In [23]:
df = pd.DataFrame(rs.fetchall())

In [24]:
df

Empty DataFrame
Columns: []
Index: []

In [25]:
from extract import extract_coindata, scrape

In [13]:
coindata, cols = extract_coindata()

In [14]:
cols

['CoinName',
 'Symbol',
 'Time',
 'Market Cap',
 'Price',
 'Circulating Supply',
 'Volume(24h)',
 '1h',
 '24h',
 '7d',
 'Website']

In [15]:
%%time
load_data(coindata, cols, s)

Inserting data into Crypto table: 100%|██████████████████████████████████████████████████| 5/5 [00:00<00:00, 52.09it/s]

Batch Load Executed!!!
Total time: 0:00:00.111989 seconds
Wall time: 112 ms

In [44]:
%%time
load(coindata)

Inserting data into CryptoPrice table: 100%|█████████████████████████████████████████| 100/100 [01:16<00:00,  1.30it/s]

Total time:
Wall time: 1min 16s

In [62]:
rs = con.execute('Select * From Public."CryptoPrice"')
df = pd.DataFrame(rs.fetchall())

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       200 non-null    int64
 1   1       200 non-null    object
 2   2       200 non-null    object
 3   3       200 non-null    datetime64[ns]
 4   4       200 non-null    object
 5   5       200 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 9.5+ KB