In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
from datetime import datetime
from tqdm.std import tqdm
import pandas as pd
import logging
logger = logging.Logger('catch_all')

In [3]:
def create_table(eng):
    query = ''' CREATE TABLE IF NOT EXISTS Crypto (ID serial PRIMARY KEY,
    CoinName VARCHAR (20) , Symbol VARCHAR (10), Time TIMESTAMP (40), Price VARCHAR (30),
    "1h" VARCHAR (10), "24h" VARCHAR (10), "7d" VARCHAR (10), "Volume(24h)" VARCHAR (30),
    "Circulating Supply" VARCHAR (40) , "Market Cap" VARCHAR (50),
    Website VARCHAR(200))'''
    
    conn = eng.connect()
    try:
        conn.execute(query)
        print('Table Created\nStatus: Successfull!!!')
    except Exception as e:
        logger.error(e, exc_info=True)
        print("Could not create table")
        
    finally:
        conn.close()

In [4]:
def drop_table(eng):
    query = ''' DROP TABLE IF EXISTS Crypto'''
    conn = eng.connect()
    try:
        conn.execute(query)
        print('Table dropped\nStatus: Successfull!!!')
    except Exception as e:
        logger.error(e, exc_info=True)
        print('Drop Table Failed')
        
    finally:
        conn.close()

In [5]:
def reset_database(eng):
    drop_table(eng)
    create_table(eng)

In [6]:
DATABASE_URI = "postgres+psycopg2://postgres:udkhulbisalaam@localhost:5432/Cryptocurrency"

In [1]:
from auths import hostname, password
CLOUD_DATABASE_URL = "postgres+psycopg2://postgres:"+password+"@"+hostname+":5432/Cryptocurrency"

In [7]:
engine = create_engine(DATABASE_URI)

In [14]:
cloud_engine = create_engine(CLOUD_DATABASE_URL)

In [15]:
def reset_database(eng):
    drop_table(eng)
    create_table(eng)

In [10]:
reset_database(engine)

Table dropped
Status: Successfull!!!
Table Created
Status: Successfull!!!

In [ ]:
s.close()

In [8]:
def load_data(data,columns, s):
    start = datetime.now()
    #s = Session()
    cols = columns
    
    try:
        for coin in tqdm(data, desc="Inserting data into Crypto table"):
            vals = list(coin)
            s.rollback()
            query = '''INSERT INTO public.Crypto ({}, {}, {}, 
            "{}", {}, "{}", "{}", "{}", "{}", "{}", {}) 
            VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}','{}', '{}', '{}')'''\
            .format(cols[0], cols[1], cols[2], cols[3], cols[4], cols[5], cols[6], cols[7], cols[8], 
                    cols[9], cols[10], vals[0], vals[1], vals[2], vals[3], vals[4], vals[5], vals[6], vals[7],
                    vals[8], vals[9], vals[10])

            s.execute(query)
            s.commit()
        stop = datetime.now()  
        
        print('Batch Load Executed!!!')
        print("Total time: {} seconds".format(stop-start))
        
    except Exception as e:
        logger.error(e, exc_info=True)
        print("Could not load data into database")
        
    finally:
        s.close()

In [26]:
def csv_to_db(engine_session, df):
    try:
        assert type(df) == pd.DataFrame
        columns = tuple(df.columns)
        data = df.values
        load_data(data, columns, engine_session)
        
    except Exception as e:
        logger.error(e, exc_info=f'Expected df to be {pd.DataFrame} got {type(df)}\n Data could not be loaded')

    finally:
        engine_session.close()

In [27]:
conn =  engine.connect()

In [ ]:
query = 'Select * from public.'

In [9]:
df = pd.read_csv('cryptocurrency.csv')

In [25]:
for val in df.values:
    print(val)

['Bitcoin' 'BTC' '2022/06/18 20:29' '$349,448,098,788' '$18,323.74'
 '19,070,787 BTC' '$32,035,279,811' '-0.50%' '-10.68%' '-36.09%'
 'https://coinmarketcap.com/all/views/all/']
['Ethereum' 'ETH' '2022/06/18 20:29' '$113,977,783,771' '$940.25'
 '121,220,313 ETH' '$15,485,986,467' '-1.66%' '-12.84%' '-39.61%'
 'https://coinmarketcap.com/all/views/all/']
['Tether' 'USDT' '2022/06/18 20:29' '$68,142,522,740' '$0.9987'
 '68,230,995,597 USDT *' '$47,916,417,966' '0.00%' '-0.02%' '-0.04%'
 'https://coinmarketcap.com/all/views/all/']
['USD Coin' 'USDC' '2022/06/18 20:29' '$55,323,828,129' '$1.00'
 '55,302,758,433 USDC *' '$5,472,213,974' '0.01%' '0.01%' '0.04%'
 'https://coinmarketcap.com/all/views/all/']
['BNB' 'BNB' '2022/06/18 20:29' '$31,285,346,862' '$191.61'
 '163,276,975 BNB *' '$1,250,096,938' '-0.96%' '-11.00%' '-29.83%'
 'https://coinmarketcap.com/all/views/all/']

In [13]:
test = next(df.iterrows())

In [17]:
tuple(test[1].values)

('Bitcoin',
 'BTC',
 '2022/06/18 20:29',
 '$349,448,098,788',
 '$18,323.74',
 '19,070,787 BTC',
 '$32,035,279,811',
 '-0.50%',
 '-10.68%',
 '-36.09%',
 'https://coinmarketcap.com/all/views/all/')

In [33]:
# local server
Session = sessionmaker(bind=engine)
s = Session()

In [21]:
# cloud server
CloudSession = sessionmaker(bind=cloud_engine)
cloud = CloudSession()

In [30]:
reset_database(engine)

Table dropped
Status: Successfull!!!
Table Created
Status: Successfull!!!

In [31]:
con = engine.connect()

In [29]:
conn.close()

In [35]:
rs = con.execute('SELECT * FROM Public.Crypto')
pd.DataFrame(rs.fetchall())

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,Bitcoin,BTC,2022-06-18 20:29:00,"$18,323.74",-0.50%,-10.68%,-36.09%,"$32,035,279,811","19,070,787 BTC","$349,448,098,788",https://coinmarketcap.com/all/views/all/
1,2,Ethereum,ETH,2022-06-18 20:29:00,$940.25,-1.66%,-12.84%,-39.61%,"$15,485,986,467","121,220,313 ETH","$113,977,783,771",https://coinmarketcap.com/all/views/all/
2,3,Tether,USDT,2022-06-18 20:29:00,$0.9987,0.00%,-0.02%,-0.04%,"$47,916,417,966","68,230,995,597 USDT *","$68,142,522,740",https://coinmarketcap.com/all/views/all/
3,4,USD Coin,USDC,2022-06-18 20:29:00,$1.00,0.01%,0.01%,0.04%,"$5,472,213,974","55,302,758,433 USDC *","$55,323,828,129",https://coinmarketcap.com/all/views/all/
4,5,BNB,BNB,2022-06-18 20:29:00,$191.61,-0.96%,-11.00%,-29.83%,"$1,250,096,938","163,276,975 BNB *","$31,285,346,862",https://coinmarketcap.com/all/views/all/

In [34]:
csv_to_db(s, df)

Inserting data into Crypto table: 100%|██████████████████████████████████████████████████| 5/5 [00:00<00:00, 31.60it/s]

Batch Load Executed!!!
Total time: 0:00:00.363791 seconds

In [24]:
df

Empty DataFrame
Columns: []
Index: []

In [18]:
from extract import extract_coindata

In [19]:
coindata, cols = extract_coindata()

In [20]:
coindata

[('Bitcoin',
  'BTC',
  '2022/06/18 20:34',
  '$348,370,582,147',
  '$18,267.24',
  '19,070,787 BTC',
  '$32,051,488,632',
  '-0.77%',
  '-10.93%',
  '-36.28%',
  'https://coinmarketcap.com/all/views/all/'),
 ('Ethereum',
  'ETH',
  '2022/06/18 20:34',
  '$113,781,095,435',
  '$938.63',
  '121,220,313 ETH',
  '$15,566,934,309',
  '-1.65%',
  '-13.00%',
  '-39.60%',
  'https://coinmarketcap.com/all/views/all/'),
 ('Tether',
  'USDT',
  '2022/06/18 20:34',
  '$68,142,533,341',
  '$0.9987',
  '68,230,995,597 USDT *',
  '$48,030,501,720',
  '0.00%',
  '-0.02%',
  '-0.03%',
  'https://coinmarketcap.com/all/views/all/'),
 ('USD Coin',
  'USDC',
  '2022/06/18 20:34',
  '$55,321,256,795',
  '$1.00',
  '55,302,758,433 USDC *',
  '$5,443,517,707',
  '0.00%',
  '0.00%',
  '0.03%',
  'https://coinmarketcap.com/all/views/all/'),
 ('BNB',
  'BNB',
  '2022/06/18 20:34',
  '$31,214,372,511',
  '$191.17',
  '163,276,975 BNB *',
  '$1,252,934,225',
  '-1.20%',
  '-11.23%',
  '-29.86%',
  'https://coinmarketcap.com/all/views/all/')]

In [15]:
%%time
load_data(coindata, cols, s)

Inserting data into Crypto table: 100%|██████████████████████████████████████████████████| 5/5 [00:00<00:00, 52.09it/s]

Batch Load Executed!!!
Total time: 0:00:00.111989 seconds
Wall time: 112 ms

In [44]:
%%time
load(coindata)

Inserting data into CryptoPrice table: 100%|█████████████████████████████████████████| 100/100 [01:16<00:00,  1.30it/s]

Total time:
Wall time: 1min 16s

In [62]:
rs = con.execute('Select * From Public."CryptoPrice"')
df = pd.DataFrame(rs.fetchall())

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       200 non-null    int64
 1   1       200 non-null    object
 2   2       200 non-null    object
 3   3       200 non-null    datetime64[ns]
 4   4       200 non-null    object
 5   5       200 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 9.5+ KB